<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.component_b">

    <application
        android:name="debug.MyApplicationB"
        android:allowBackup="false"
        android:icon="@mipmap/demo_b_ic_launcher"
        android:label="@string/component_b_label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
